{
  "app": {
    "name": "golang-clean-architecture"
  },
  "api": {
    "port": 8080,
    "deploy": "dev"
  },
  "log": {
    "level": 6
  },
  "database": {
    "driver": "postgres",
    "username": "postgres",
    "password": "123456",
    "host": "localhost",
    "port": 5432,
    "name": "golang"
  },
  "jwt": {
    "key": "secret"
  },
  "s3": {
    "disableSSL": true,
    "forcePathStyle": true,
    "region": "us-east-1",
    "bucket": "coba",
    "endpoint": "localhost:9000",
    "accessKey": "secret",
    "secretKey": "secret"
  }
}